* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  cursor: move;
}

ul {
  list-style: none;
}

li {
  color: white;
  padding: 10px;
  margin-right: 20px;
}

li#set-model-envMap {
  cursor: pointer;
}

li.disabled {
  color: gray
}

ul.control-panel > li {
  cursor: pointer;
  display: inline-block;
}

ul.control-panel > li ul {
  position: absolute;
  display: none;
}

ul.control-panel > li:hover ul {
  display: block;
}

ul.control-panel > li:hover ul li {
  cursor: default;
}

ul.control-panel > li.disabled:hover ul {
  display: none;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: -1;
}
