* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

ul {
  list-style: none;
}

li {
  color: white;
  cursor: pointer;
  padding: 10px;
  margin-right: 20px;
}

li.disabled {
  color: gray
}

ul.control-panel > li {
  display: inline-block;
}

ul.control-panel > li ul {
  position: absolute;
  display: none;
}

ul.control-panel > li:hover ul {
  display: block;
  opacity: 1;
}

ul.control-panel > li.disabled:hover ul {
  display: none;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: -1;
}
